
<h1>Here is a list of all your favourite movies!</h1>
<table border = "1" cellspacing = "0" cellpadding = "10">

	<tr>
		<td>Movie Identification No.</td>
		<td>Movie Title</td>
		<td>Delete</td>
	</tr>

  <tr ng-repeat="movie in movies">
    <td>{{movie.id}}</td>
    <td><a href="#detail/{{movie.id}}">{{movie.title}}</td>
    <td><a ng-click="kill(movie.id)" href="https://cde305-reubentan.c9users.io/#/favourites">remove</a></td>
  </tr>

</table>
<button ng-click="deleteAll()">Clear All</button>
